<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casanico</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="awesomplete.base.css" />
    <link rel="stylesheet" href="awesomplete.theme.css" />
  </head>
  <body>
    <div id="principal" class="container mx-auto">
      <div
        class="grid-block"
        style="
          background-image: url('https://cdn.pixabay.com/photo/2017/06/20/17/15/wall-2423815_960_720.jpg');
          width: 100%;
          height: 40vh;
        "
      >
        <h2 class="text-3xl text-center text-indigo-500">Presupuesto</h2>

        <div class="w-48 mx-6">
          <img src="logo.png" alt="" class="mx-auto h-20" />

          <p class="text-center text-xl text-red-600">Casa Nico Materiales</p>
          <p class="text-center text-sm">Presidente Peron 6699</p>
          <p class="text-center text-sm">Tel: 44502666</p>
          <p class="text-center text-sm">
            Fecha: {{fecha.toLocaleDateString()}}
          </p>
        </div>

        <button
          id="btnShow"
          @click="hideClients"
          class="oculto-impresion bg-indigo-500 text-gray-100 m-8 rounded p-2"
        >
          + Datos
        </button>
        <div class="hidden oculto-impresion" id="showClients">
          <div class="bg-gray-100 p-4 rounded grid gap-4 grid-cols-3">
            <div>
              <label for="">Cliente: </label>
              <input class=" hover:bg-indigo-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500  p-2.5" v-model="nameClient" type="text" />
            </div>

            <div>
              <label for="">Telefono: </label>
              <input class=" hover:bg-indigo-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500  p-2.5" v-model="telClient" type="text"  v-model="telClient" type="text" />
            </div>
            <div>
              <label for="">Direccion: </label>
              <input class=" hover:bg-indigo-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500  p-2.5" v-model="addressClient" type="text"  v-model="addressClient" type="text" />
            </div>
          </div>
        </div>

        <div
          id="listProduct"
          class="oculto-impresion bg-gray-100 grid grid-cols-2  md:grid-cols-4 sm:grid-cols-2 p-8 mt-4  gap-2 mx-auto"
        >
         <!--  <div>Producto</div>
          <div>Precio Unitario</div>
          <div>Cantidad</div>
          <div></div> -->
          <div id="infoProduct" class="">
           <p>Producto</p>
            <input
              class="awesomplete hover:bg-indigo-50 bg-gray-50 border w-40 md:w-auto border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500  p-2.5"
              id="firstInput"
              v-model.lazy="inputProduct"
              placeholder="Producto"
              autofocus
              type="text"
              list="mylist"
            />
            <datalist id="mylist">
              <option>Bolsa Arena</option>
              <option>Arena (Suelto)</option>
              <option>Arena (Bolson)</option>
              <option>1/2 de Arena(suelto)</option>
              <option>Cascote (Suelto)</option>
              <option>Cascote (Bolson)</option>
              <option>1/2 Cascote</option>
              <option value="">Piedra 6-20 (Suelta)</option>
              <option value="">Piedra (Bolson)</option>
              <option value="">1/2 de Piedra</option>
              <option value="">Bolsa Piedra</option>
              <option value="">Cemento</option>
              <option value="">Cemento Blanco</option>
              <option value="">Plasticor (Hidralit)</option>
              <option value="">Cal Hidrat</option>
              <option value="">Cal MILAGRO</option>
              <option value="">Yeso Tuyango</option>
              <option value="">revoque fino a la cal In/ext</option>
              <option value="">Pegamento</option>
              <option value="">Pegamento Weber</option>
              <option value="">perfecto porcelanato</option>
              <option value="">Pastinas</option>
              <option value="">ferrite chisplast</option>
              <option value="">VIGAS DE 1,8 A 3,0</option>
              <option value="">VIGAS DE 3,20 A 3,8</option>
              <option value="">VIGAS DE 4,0 A 4,2</option>
              <option value="">VIGAS DE 4,4 A 4,6</option>
              <option value="">VIGAS DE 4,8 A 5,4</option>
              <option value="">VIGAS DE 5,6 A 6,4</option>
              <option value="">VIGAS DE 6,6 A 7,2</option>
              <option value="">Tierra refractaria</option>
              <option value="">Tejuela</option>
              <option value="">Ladrillo Hueco 8x18x33</option>
              <option value="">Ladrillo Hueco 12x18x33 6T</option>
              <option value="">Ladrillo Hueco 12x18x33 9T</option>
              <option value="">Ladrillo Hueco 18x18x33 12T</option>
              <option value="">Portante 12x19x33</option>
              <option value="">Portante 18x19x33</option>
              <option value="">Cerecita</option>
              <option value="">tacurú</option>
              <option value="">Hierro aletado 4.2</option>
              <option value="">Hierro Aletado 5.5</option>
              <option value="">Hierro aletado 6</option>
              <option value="">Hierro aletado 8</option>
              <option value="">Hierro aletado 10</option>
              <option value="">Hierro aletado 12</option>
              <option value="">Hierro aletado 16</option>
              <option value="">Hierro aletado 20</option>
              <option value="">Hierro aletado 25</option>
              <option value="">Malla 4,2-15x15(5x2)</option>
              <option value="">malla 4,2-15x15(2x5)</option>
              <option value="">Malla 4,2-15x25(5x2)</option>
              <option value="">malla 6-15x25(2x5)</option>
              <option value="">Malla 6-15x15(6x2)</option>
              <option value="">Clavos 2"</option>
              <option value="">Clavos 2 1/2"</option>
              <option value="">Alambre de fardo</option>
              <option value="">Eternit x 500 I bicapa</option>
              <option value="">Pintura Asfaltica</option>
              <option value="">Plancha Telgopor x20mm</option>
              <option value="">Plancha Telgopor x10mm</option>
            </datalist>
          </div>
          <div class="">
            <p>Precio</p>
            <input
              class="hover:bg-indigo-50 bg-gray-50 border border-gray-300 w-40 md:w-auto text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500  p-2.5"
              v-model.number="inputPrecioUnit"
              placeholder="$"
              type="text"
            />
          </div>
          <div class="">
            <p>Cantidad</p>
            <input
              class="hover:bg-indigo-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 block p-2.5"
              v-on:keyup.enter="addProduct"
              v-model.number="inputCant"
              placeholder="#"
            />
          </div>
          <div>
            <button
              @click="addProduct(products)"
              class="bg-indigo-500 rounded text-white p-2 m-2 hover:bg-indigo-800"
            >
              Agregar
            </button>
          </div>
        </div>

        <br />

        <br />

       <div class="grid grid-cols-2 w-64 m-4 mx-auto " v-if="products.length===0">
        <img class="w-20" src="https://cdn-icons-png.flaticon.com/512/5900/5900076.png" alt="">
        <p class="text-center text-indigo-600 align-middle text-2xl">Planilla sin productos</p>
        
        
       </div>

        <div>
          <div v-if="nameClient!==null" class="bg-gray-100 w-96 rounded p-4">
            <!--        <p><strong>Nombre:</strong> {{products[0].infoClient[0]}}</p> -->
            <p class="uppercase"><strong>Nombre:</strong> {{nameClient }}</p class="uppercase">
            <p class="uppercase"><strong>Telefono:</strong> {{telClient }}</p>
            <p class="uppercase"><strong>Direccion:</strong> {{addressClient }}</p>
          </div>

        <div style="overflow-x:auto;">
          <table
            id="mostrarProduct"
            class="shadow-sm mx-auto  text-sm text-left text-gray-500"
          >
            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
              <tr>
                <th scope="col" class="rounded-tl-lg py-3 px-12 text-center">
                  Producto
                </th>
                <th scope="col" class="py-3 px-6 text-center">V unitario</th>
                <th scope="col" class="py-3 px-6 text-center">Cantidad</th>
                <th scope="col" class="py-3 px-6 text-center">Total</th>
                <th
                  scope="col"
                  class="oculto-impresion rounded-tr-lg py-3 px-6 text-center"
                >
                  Eliminar
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="product in products"
                :key="product.id"
                class="bg-white border border-gray-300"
              >
                <th
                
                  scope="row"
                  class="px-2 hover:border-indigo-300 border border-gray-300 font-medium text-gray-800 whitespace-nowrap"
                >
                  <input
                   
                    v-model="product.name"
                    type="text"
                    required
                  />
                </th>
                <td class="px-2 hover:border-indigo-300 border border-gray-300">
                  <input
                    class="text-center"
                    v-model="product.precioUnidad"
                    type="number"
                    required
                  />
                </td>
                <td class="hover:border-indigo-300 border border-gray-300">
                  <input
                    style="width: 50px"
                    class="text-center mx-4"
                    v-model="product.cantidad"
                    type="number"
                    required
                  />
                </td>
                <td
                  class="border border-gray-300 hover:border-indigo-300 py px-6"
                >
                  {{product.cantidad * product.precioUnidad}}
                </td>

                <td class="hover:border-indigo-300 border border-gray-300">
                  <button class="" @click="removeProduct(product)">
                    <img
                      id=""
                      class="oculto-impresion h-8 mx-auto w-auto px-8 sudo"
                      src="https://cdn-icons-png.flaticon.com/512/1632/1632602.png"
                      alt=""
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        </div>
        <div class="bg-indigo-50 rounded shadow-sm p-2 w-48 m-4">
          <p class="text-xl text-center text-indigo-600">
            <span class="text-2xl">Total: $</span> {{sumarCantidad}}
          </p>
        </div>

        <button
          class="bg-gray-50 shadow-sm p-2 rounded m-2 hover:bg-indigo-50"
          onclick="window.print()"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/1497/1497695.png"
            class="mx-auto h-7"
            alt=""
          />
          <p>Imprimir</p>
        </button>

        <button
          @click="removeAll"
          class="bg-gray-50 shadow-sm hover:bg-indigo-50 p-1 rounded"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3221/3221897.png"
            class="mx-auto h-7"
            alt=""
          />

          Vaciar
        </button>
        <!-- <button @click="datosFuntion" class="bg-green-300 rounded p-2">
  datos
</button> -->

        <!-- <a href="https://wa.me/541135888672?text=Me%20interesa%20in%20el%20auto%20que%20vendes" style="font-size:20px;padding:5px 12px;border-radius:5px;background-color:#189D0E;color:white;text-shadow:none;"> ›› Mensaje de WhatsApp </a>
 -->
      </div>

      <script src="https://cdn.tailwindcss.com"></script>
      <script type="text/javascript" src="awesomplete.min.js"></script>
      <script src="app.js"></script>
    </div>
  </body>
</html>
