@media print{
    .oculto-impresion, .oculto-impresion *{
      display: none !important;
    }
  }

  @media only screen 
  and (max-width : 360px) {
  /* Styles here */

  

  td{
    background: #000;
    width: 10%;
  }

 
}